player-connection-mode=Listen
player-connection-guid=3367412001
player-connection-debug=0
player-connection-project-name=Hunger Games
player-connection-ip=172.19.128.24
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9d9dcd305fc34bc8925f33cbbd61b1a1
